/* font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.content-container {
  max-width: 1440px;
  height: 1024px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.background-section {
  flex-grow: 1;
  max-width: 480px;
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
}

.form-section {
  background-color: #ffffff;
  flex-grow: 1;
  align-self: center;
}

form {
  max-width: 780px;
  margin: 0 75px 0 75px;
  display: flex;
  flex-direction: column;
}

/* company logo & title */
.company-title {
  display: flex;
  margin-bottom: 56px;
}

.coffee-logo {
  width: 28px;
  height: 26px;
  margin-right: 15px;
}

.coffee-title {
  color: #8E6447;
  font-family: 'Sacramento', cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  margin: 0;
  text-align: left;
}

.page-form-title {
  color: #8E6447;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;  
  margin: 0 0 28px 0;
}

.fill-out-command {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 0 0 28px 0;
  text-align: left;
}

/* label */
label {
  color: #0B132A;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 0 0 16px 0;
  text-align: left;
  cursor: pointer;
}

/* input */
.input-box {
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 0 28px 0;
}

.input-icon {
  flex-grow: 1;
  height: 16px;
  padding: 0 10px;
}

.input-field {
  border: none;
  flex-grow: 25;
  height: 42px;
  margin: 0;
}

.input-icon.password-visibility:hover {
  cursor: pointer;
}

.input-box.confirm-password,
.input-box.email{
  margin-bottom: 0;
}

::placeholder {
  color: #4F5665;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.75px;
  padding: 0 0 0 0;
  text-align: left
}

.forgot-password {
  text-align: right;
  text-decoration: none;
  color: #FF8906;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.forgot-password:hover {
  opacity: 0.7;
}

.forgot-password:active {
  color: #0B132A;
}

button {
  color: #0B132A;
  border: none;
  border-radius: 6px;
  background-color: #FF8906;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 25px 0 28px 0;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 1;
  transform: scale(0.98);
}

p.account-already {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 0 0 28px 0;
  text-align: center;
}

p.account-already>a {
  text-decoration: none;
  color: #FF8906;
}

p.account-already>a:hover {
  opacity: 0.7;
}

p.account-already>a:active {
  color: #0B132A;
}

.or-container {
  display: inline-block;
  position: relative;
}

hr {
  border: none;
  background-color: #DEDEDE;
  height: 1px;
}

.or-text {
  background-color: #ffffff;
  bottom: 0;
  color: #AAAAAA;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.005em;
  line-height: 15px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100px;
}

.web-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0 0 0;
}


.facebook-button {
  margin: 0 7px 0 0;
}
.google-button {
  margin: 0 0 0 7px;
}

.facebook-button,
.google-button {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 6px 1px rgba(180, 180, 180, .1);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 64px;
  justify-content: center;
  max-width: 384px;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
}

.facebook-button:hover,
.google-button:hover {
  opacity: 0.7;
} 
.facebook-button:active,
.google-button:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px 0px rgba(180, 180, 180, .1);
} 

.facebook-icon,
.google-icon {
  width: 20px;
  margin: 0 22px 0 0;
}

.facebook-text,
.google-text {
  color: #4F5665;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.005em;
  margin: 0;
  text-align: center;
}

/* chat page */
nav {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 76px;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

li {
  float: left;
  margin: 0 20px 0 0;
}

li:nth-child(1) a{
  display: flex;
  align-items: center;
}

li:nth-child(3){
  margin: 0 300px 0 0;
}

li:nth-child(4){
  margin: 0 0 0 300px;
}

li a {
  text-decoration: none;
  color: #ffffff;
}

.brand-logo {
  display: inline-block;
  fill: #ffffffff;
}

.brand-title {
  display: inline-block;
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-Weight: 400;
  Size: 20px;
  Line-height: 29.19px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container-section-one, 
.container-section-two {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-section-one {
  flex-grow: 1;
  background-image: linear-gradient(0deg, #0B0909 10%,#2c2c2c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 518px;
}

.right-section-one {
  width: 50vw;
  background-repeat: no-repeat;
  background-position: 20% 40%;
  background-size: cover;
  background-image: url(./assets/home/bg-home-sec1.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-two-slogan,
.section-one-slogan {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

section>p.section-two-slogan-description,
section>p.section-one-slogan-description {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

button {
  color: #0B132A;
  border: none;
  border-radius: 6px;
  background-color: #FF8906;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 25px 0 28px 0;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  padding: 0 30px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 1;
  transform: scale(0.98);
}

.stats {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
}

.staff-stats,
.stores-stats,
.customer-stats {
  flex-grow: 1;
}

.staff-stats,
.stores-stats {
  padding-right: 60px;
}

.stores-stats,
.customer-stats {
  padding-left: 30px;
}


.stores-stats {
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
}

.stats-number {
  color: #FF8906;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}

.stats-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.stats-number,
.stats-title {
  margin: 0 0 0 0;
}

.chat-column {
  width: 60%;
  height: 65vh;
  background-image: linear-gradient(0deg, #FFFFFF 97%, #FF8906 1%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.chat-header {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 20px;
  align-self: self-start;
}

.admin-label {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-person,
.role-person {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.name-person {
  font-weight: 600;
  margin: 0;
}

.role-person {
  font-weight: 400;
  color: #FF8906;
}

.chat-column>hr {
  margin: 10px 0;
  height: 1px;
  width: 100%;
}

.message-row {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  margin-left: 20px;
  margin-top: 10px;
}

.message {
  padding-bottom: 20px;
}

.message:nth-child(2) {
  text-align: end;
}

.message-row>.message>img {
  vertical-align:middle;
  width: 24px;
}

.message-row>.message>p {
  color: #4F5665;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #E8E8E84D;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}

.message-input {
  width: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-input>input {
  height: 30px;
  flex-grow: 1;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  align-self: self-end;
  margin-bottom: 20px;
  margin-right: 10px;
}

.message-input>button {
  height: 34px;
  width: 50px;
  align-self: self-end;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 0;
}

.message-input>button>img {
  height: 60%;
}

.chat-button {
  background-color: #FF8906;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -80px;
  border-radius: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}